* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background: url(../images/background.png) center no-repeat;
    background-size: cover;
    padding: 5% 10%;
    position: relative;
    background-size: cover;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

header, section {
    z-index: 2;
}

header {
    width: 100%;
}

header ol {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header ol li {
    padding: 0 10px;
    font-weight: 500;
    transition: 0.7s;
}

header ol li:hover {
   -webkit-transform: scale(1.3);
   transform: scale(1.3);

}

header ol li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #818181;
    font-size: 20px;
}

section {
    position: absolute;
    text-align: right;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
}

section h4 {
    font-size: 24px;
    color: #818181;
    font-weight: 400;
    text-align: left;
}

section h1 {
    font-size: 70px;
    color: #818181;
    font-weight: 700;
}

section h1 span {
    font-weight: 700;
    color: #818181;
}

section button {
    background-color: #0a0d02;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 30px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.7s;    
}

section button:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

header ol li {

}